<p><%= notice %></p>
<body class='container'>
    <div class='devise white'>
        <h1>Edit Chef Details</h1>
            <%= render 'form' %>
            <%= link_to 'Back', edit_user_registration_path %>
    </div>
</body>