<h1> welcome </h1>
<%= link_to 'I am Hungry', new_user_registration_path, chef: false %>
<%= link_to 'I am a Chef', new_user_registration_path, chef: true %>
<%= link_to 'Login', new_user_session_path %>