<body class="background">
<div class="grid-x">
    <div class="cell text-center">
        <h1 class="welcome"> Casual Meals </h1>
    </div>

    
    <div class="cell button-hover-reveal-wrapper text-center">
        <label>Sign Up Now</label>
        <a href="<%= new_user_registration_path %>" class="button-hover-reveal">Register</a>
        <a href="<%= new_user_session_path %>" class="button-hover-reveal">Login</a>
    </div>

    <div class="cell mobile-buttons text-center">
        <a href="<%= new_user_registration_path %>" class="button round">Register</a>
        <a href="<%= new_user_session_path %>" class="button round" >Login</a>
    </div>


</div>
</body>
