<div class="row viewport">
<div class="small-3 small-centered column">
<h1> welcome </h1>


<div class="row">
<%= link_to 'Register', new_user_registration_path, class:"button"  %>
<%= link_to 'Login', new_user_session_path, class:"button" %>
</div>
</div>
</div>
