    <% if current_page?(meals_path)%>
    <%= link_to "All Meals", show_all_path, onClick:"location.reload()"%>
    <h1>My Meals</h1>
    <% end %>
        <% if current_page?(show_all_path)%>
        <%= link_to "My Meals", meals_path, onClick:"location.reload()"%>
        <h1>All Meals</h1>
    <% end%>