  <div class="filter-mobile text-center">
      <label for="check"> Filter</label></i>
      <input id="check" type="checkbox">
      <div class="dropdown">
        <button class="button hollow filter-simple-button is-active" data-filter="all">All</button>
        <button class="button hollow filter-simple-button" data-filter="chinese">Chinese</button>
        <button class="button hollow filter-simple-button" data-filter="french">French</button>
        <button class="button hollow filter-simple-button" data-filter="japanese">Japanese</button>
        <button class="button hollow filter-simple-button" data-filter="vietnamese">Vietnamese</button>
        <button class="button hollow filter-simple-button" data-filter="turkish">Turkish</button>
        <button class="button hollow filter-simple-button" data-filter="american">American</button>
        <button class="button hollow filter-simple-button" data-filter="others">Others</button>
      </div>
      </div>
  </div>