  <% if current_user.chef? %>
  <div class="row small-up-2 medium-up-3 large-up-4 text-center">
            <%= link_to new_meal_path, class:"card plus-card column column-block text-center", style: "width:200px; height: 200px; margin-left: auto;
      margin-right: auto;" do %>
              <svg height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              <h4>Add meal</h4>
      <% end %>
  </div>
  <%end%>