
<div class="search-container">
<%= form_tag meals_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <div class="submit-block">
    <%= submit_tag "Search", :name => nil %>
    <%= link_to "Clear", meals_path, onClick:"location.reload()"%>
    </div>
<% end %>

</div>