 <div class="grid-container">
    <div class="grid-x grid-margin-x">
<div class="search-container cell">
<%= form_tag meals_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <div class="submit-block">
    <%= submit_tag "Search", :name => nil %>
    <%= link_to "Clear", meals_path, onClick:"location.reload()"%>
    </div>
<% end %>
</div>
</div>
</div>