/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 //= require foundation_and_overrides

 
 */
 @import "foundation_and_overrides";
 @import 'components.scss' ;

 //james start
 .bg-grey {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
 }

 .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
 }
 .container {
   height: 100vh;
   background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  }

 //james end
.green {
    a {
        background-color: green;
    }
}
.red {
   a {
       background-color: red;
   }
}
.bg {
    a {
        color: white;
        border: 1px solid black;
        padding: 1px;
    }
}

 .viewport {
  margin-top: 80px;
 }
 div {
  //  border: 1px solid red;
 }

body {
    padding-bottom: 65px;
    padding-top: 65px;


 .not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
  }
}
// Navbar styling Start
$mobile-bottom-bar-primary-dark: darken($primary-color, 20%);

.mobile-bottom-bar {
  width: 100%;
  height: 3.778rem;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  


  .footer-link {
    position: relative;
    flex: 1 1 auto;
    text-align: center;
    color: $mobile-bottom-bar-primary-dark;
    text-transform: uppercase;
    font-size: rem-calc(13);
    font-weight: bold;
    padding: 0.907rem 1rem;

    i.fa {
      opacity: 0.8;
      margin-right: rem-calc(10);
      font-size: rem-calc(24);
      vertical-align: middle;
    }

    &:focus,
    &:active {
      color: $mobile-bottom-bar-primary-dark;
    }
  }
  .footer-text {
    position: relative;
    top: 2px;
    font-weight: bold;
    font-size: rem-calc(14);
    color: $white;
  }
}
// Navbar Styling End

// Home page sign up hover
body.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(welcome_page_wallpaper.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

.mobile-buttons {
  visibility: hidden;
  .button {
    width: 200px;
    border-radius: 12px;
    opacity: 0.9;
  }
  
}

.welcome {
    color: #FFF;
    padding-top: 140px;
    padding-bottom: 5px;
}

.button-hover-reveal-wrapper {
    overflow: hidden;
    border: 2px solid $primary-color;
    border-radius: 5000px;
    text-align: center;
    width: 100%;
    background: $white;
    opacity: 0.9;
    display: flex;
    justify-content: center;

    &:hover {
      border: none;
      background-color: $primary-color;
      transition: background-color 0.5s ease;
  
      .button-hover-reveal {
        display: block;
        font-size: 16px;
        padding: 22px;
  
        &:hover {
          transition: background-color 0.5s ease;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
  
      label {
        display: none;
      }
    }
  
    .button-hover-reveal {
      display: none;
      color: $white;
      width: 50%;
      z-index: 1;
    }
  
    label {
      padding: 16px;
      color: $primary-color;
      font-size: 16px;
      font-weight: bold;
    }
  }
//Home Page Signup hover end

// Account Registration/Edit form page
form {
    .form-icons {
      text-align: center;
  
      h4 {
        margin-bottom: 1rem;
      }
  
      .input-group-label {
        background-color: $primary-color;
        border-color: $primary-color;
        &.error {
          background-color: red;
        }
      }
  
      .input-group-field {
        border-color: $primary-color;
        width: 100%;
      }
  
      .fa {
        color: white;
        width: 1rem; // makes the width of icon labels equal
      }
    }
  }
  .field_with_errors {
    width: 100%;
  }
  

//   Filter Buttons Start

.filter-simple {
    .button-group {
       justify-content: center; // center the button group
    }
  
    .filter-simple-button.hollow {
      &.is-active,
      &:focus,
      &:active {
        background-color: $primary-color;
        color: $white;
      }
    }
  }
  
  // optional styles to round the button group edges
  .button-group.round {
    :first-child {
      border-radius: 5000px 0 0 5000px;
    }
  
    :last-child {
      border-radius: 0 5000px 5000px 0;
    }
  }
  
  // class that spaces blocks vertically - will be built into Foundation 6.4
  .column-block {
    margin-bottom: 30px;
  }
  
// Filter Buttons End  


.contact-panel-button {
  display:block;
  // width: 160px;
  height: 44px;
  // width: 100%;
  margin: 0 auto;
  position: relative;
  // top: -40px;
  // right: 30px;
  transition: background 0.25s ease-in-out;
  &:after {
    content: "⥣";
    margin-left: 5px;
    color: white;
  }
}
.is-active .contact-panel-button:after {
  content: "⥥";
}

.contact-panel {
  position: fixed;
  bottom: -56px;
  z-index: 1;
  transition: bottom 0.5s ease-in-out;
  &:active,
  &:hover,
  &:focus,
  .is-active {
    bottom: 0;
  }
  input {
    border-radius: 10px;
  }
}
.is-active {
  bottom: 0;
}

h1 {
  display: block;
  text-align: center;
}


.search-container{
  position: relative;
  input[type=submit] {
    position: absolute;
    right: 0px;
    top: 1px;
    height: 38px;
  }
  
}

.error-field {
  &:placeholder-shown{
  color: red;
  border-color: red;
  }
}

// Media Queries
@media (max-width: 768px) {  
  .button-hover-reveal-wrapper {
      visibility: hidden;
  }    
  .mobile-buttons {
      visibility: visible;
  }
  
}

@media (min-width: 768px) {
  .mobile-bottom-bar {
    top: 0;
  }
}