.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
    text-align: center;
}
.container {
    height: 100vh;
    background: url("https://images.pexels.com/photos/1095550/pexels-photo-1095550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}