<h1> transactions </h1>

  <tbody>
    <% @transactions.each do |transaction| %>
    <div>
      <tr>
        <td><%= transaction.user_id %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.delivery_address %></td>
        <td>price: <%= MealTransaction.where(transaction_id: transaction.id).first.meal.price %></td>
      </tr>
      </div>
    <% end %>
  </tbody>
</table>