
<% if user_signed_in?  %>
    <div class="mobile-bottom-bar">
      <a href= "<%= meals_path %>" class="footer-link">
        <i class="fi-home"></i> <span class='footer-text'>Home</span>
      </a>



      
      <div class="contact-panel footer-link" id="contact-panel" onclick="myFunction()">

    <a href="#" class="contact-panel-button">
       <span class='footer-text'> <i class="fi-magnifying-glass"></i> Search</span></a>
<%= render 'meals/search'%>
</div>
      <!--
  <form action="">
    <div class="row">
      <label>Full name *
        <input type="text" placeholder="Full name">
      </label>
    </div>
    <div class="row">
      <label>Email *
        <input type="email" placeholder="Email address">
      </label>
    </div>
    <div class="row">
      <label>Message *
        <textarea placeholder="Describe your needs" rows="3"></textarea>
      </label>
    </div>
    <div class="contact-panel-actions">
      <button class="cancel-button" data-toggle="contact-panel">Nevermind</button>
      <input type="submit" class="button submit-button" value="Submit">
    </div>
  </form>
</div>
-->
      <% if current_user.customer? %>
      <a href="#" class="footer-link">
        <i class="fi-list-bullet"></i> <span class='footer-text'>Order History</span>
      </a>
      <% else %>
       <a href="#" class="footer-link">
        <i class="fi-list-bullet"></i> <span class='footer-text'>Sales History</span>
      </a>
      <% end %>
      <a href="<%= edit_user_registration_path %>" class="footer-link">
        <i class="fi-torso"></i> <span class='footer-text'>Account Settings</span>
      </a>
    </div>
 
<% end %> 
<script>
function myFunction() {
    var element = document.getElementById("contact-panel");
    element.classList.toggle("is-active");
}

</script>